.well.masonry{:class => cycle('odd','even')}
  .content
    - if geo.visuel?
      .geo-image
        = link_to geo do
          = image_tag geo.visuel.url(:thumb) 
    .title
      = link_to geo.title, geo
    = render "geo_contexts/properties", :geo => geo
