- content_for :javascripts do
  = javascript_include_tag :mansory
  :javascript
    $(document).ready(function(){
      $('.geo-container').masonry({
        itemSelector: ".well"
      }).find('img').load(function(){
        $('.geo-container').masonry('reload');
      });
      $(window).resize(function(){
          $('.geo-container').masonry('reload');
      });
    });


          
.geo-container.clearfix
  - @geo_contexts.each_with_index do |geo, i|
    = render :partial => "geo_contexts/geo_context_row", :locals => {:geo => geo }
