- unless geo.themes.empty?
  .content_value
    %b Thèmes :
    - geo.themes.each do |theme|
      = link_to theme.name, theme
- unless geo.diffusion_date.nil?
  .content_value
    %b Date de diffusion :
    = geo.diffusion_date.strftime('%d/%m/%Y')
- unless geo.tags.empty?
  .content_value
    %b
      Mots cl&eacute;s :
    - geo.tags.each do |tag|
      = link_to tag.name, tag_path(tag)
.content_value
  %b
    Description :
  = geo.description.html_safe
