%hr
%li= link_to "capabilities", admin_capabilities_path
%li
  = link_to "Couches", admin_layers_path
  %ul
    %li= link_to "Nouvelle couche", new_admin_layer_path
%li= link_to "Projets", admin_geo_contexts_path 
