#admin_menu
  .topbar-wrapper
    .topbar
      .topbar-inner
        %h3 
          %a{:href => '#'}  Admin Menu
        %ul.nav
          %li
            = link_to 'Couches', new_admin_layer_path
        .breaker
