- unless request.path == root_path
  .breadcrumb-gipbe
    %span.here
      Vous êtes ici : 
    = render_breadcrumbs :separator => ' > ', :builder => BreadcrumbsOnRails::Breadcrumbs::RichBreadcrumb, :tag => :span
  .clear
