.border-container
  .border
    %h2 
      Th&egrave;mes
  
.right-menu
  - Taxon.find('themes').children.each do |c|
    %h3
      = link_to c.name, '#'#,  "data-original-title" => c.description, :class => "twipsy_link left"
    .category_description
      .category_layers
        - c.layers.each_with_index do |l, i|
          .category_layer_container{ :layer_name => l.name, :wms_url => l.wms_url, :layer_title => l.title, :class => l.uniq_identifier, :layer_class => l.uniq_identifier, :"data-original-title" => l.description }
            .selected_icon
            .row.layer_selection
              .layer_img
                = link_to  (image_tag 'carte.png', :class => "mini_thumbnail"), '#'
              .layer_info
                %span
                  %b.label.notice
                    Nom :
                  %span
                    = l.title
                .clear
                %div{:class => "slider #{l.name.gsub(':','_')}", :id => l.name.gsub(':','_')}
              .clear
.border-container
  .border
    %h2 Filtres

.border-container
  .border
    %h2
      L&eacute;gende

:javascript
  $(".slider").slider({
        value: 80,
        orientation: "horizontal",
        range: "min",
        animate: true,
        slide: function(event, ui) {
          var layers = map.getLayersBy("uniqueID", this.id);
          layers[0].setOpacity(ui.value/100);
          $("."+this.id).slider("value", ui.value);
        }
  });
