.tbar
  %ul.unstyled
    %li.first
      = link_to 'ab', '#', { :class => 'pic zoom' }
    %li
      = link_to 'cd', '#', { :class => 'pic reload' }
    %li.last
      = link_to 'ef', '#', { :class => 'pic play' }
