.fg-toolbar.ui-widget-header.ui-corner-all.ui-helper-clearfix
  .fg-buttonset
    = link_to '#', { :class => 'fg-button ui-state-default fg-button-icon-solo ui-corner-all' } do
      %span.ui-icon.ui-icon-arrow-4-diag
      Print
    = link_to '+', '#', { :class => 'fg-button ui-state-default ui-corner-all', :id => "add_layer_btn" }
