- if entity.errors.any?
  #error_explanation
    %h2= "#{pluralize(entity.errors.count, "error")} prohibited this geo_context from being saved:"
    %ul
      - entity.errors.full_messages.each do |msg|
        %li= msg
