.category_description
  .header
    %span.title-header
      = theme.name 
      %span.nbLayers
        = "(#{ layers.length})"
  .category_layers
    - layers.each_with_index do |l, i|
      .category_layer_container{ :layer_name => l.name, 
                                  :wms_url => l.wms_url, 
                                  :model_id => l.id, 
                                  :layer_title => l.title, 
                                  :class => [l.uniq_identifier, l.filter_name.downcase].join(' '), 
                                  :layer_class => l.uniq_identifier,
                                  :metadata => l.metadata_link,
                                  :id => l.uniq_identifier, 
                                  :"data-original-title" => l.description }
        %a{:href => "#", :class => "ui-icon-with-text selected_icon btn-check"}
          %span.ui-icon
        /.selected_icon.ui-icon.ui-icon-circle-plus
        .row.layer_selection
          .layer_info
            %span.ui-icon{:class => l.external ? "ui-icon-extlink" : "empty"}
            %span
              = l.title
            .clear
          .clear

