.selected-node
  %p
  %input{ :type => "checkbox", :class => "check_layer", :checked => true}
  = link_to '#', { :class => "ui-icon-with-text btn-features"} do
    %span.ui-icon.ui-icon-info
  = link_to '#', { :class => "ui-icon-with-text btn-save"} do
    %span.ui-icon.ui-icon-disk
  %span.slider
  %span.template
  %span.clear
