#tabs.tabbable
  %ul.tabs.nav.nav-tabs
    %li.active
      %a{ :"data-toggle" =>"tab", :href => "#available" } Disponibles
    %li
      %a{ :"data-toggle" =>"tab", :href => "#selected" } S&eacute;lectionn&eacute;es

  .tab-content.nano
    #available.tab-pane.active.content
      = render :partial => "shared/category_chooser_accordion"

    #selected.tab-pane.content
      =# render :partial => "shared/selected_layers"
  = render :partial => "shared/legend"
