#tabs
  %ul.tabs
    %li.active
      %a{ :href => "#available" } Disponibles
    %li
      %a{ :href => "#selected" } S&eacute;l&eacute;ctionn&eacute;es

  .tab-content.nano
    #available.tab-pane.active.content
      = render :partial => "shared/category_chooser_accordion"

    #selected.tab-pane.content
      =# render :partial => "shared/selected_layers"
  = render :partial => "shared/legend"
