%li.well{:class => cycle('odd','even')}
  .image
    = link_to layer do
      %img{ :src => layer.thumb }
  .content
    .title
      = link_to layer.title, layer
    - unless layer.metadata_link.blank?
      .content_value
        %b
          = link_to "M&eacute;tadonn&eacute;e".html_safe , layer.metadata_link, :target => "_blank", :class => "metadata_link"

    = render "layers/properties", :layer => layer
