.search_form.clearfix
  %h3 
    Rechercher parmi les 
    = Layer.published.count
    couches
  = semantic_form_for(:search, :url => search_layers_path, :builder => SimpleBootstrapFormBuilder) do |f|
    = f.input :q, :input_html => { :class => "span6"}, :label_html => { :class => "hidable_label"},:label => params[:search].nil? ? "Rechercher" : params[:search][:q]
    = f.submit t(:search), :class => "btn primary"
