.no_visualisor
  .breadcrumb
    = render :partial => "search_form"
  .row
    .pull-right
      = paginate @layers

  %table.zebra-striped
    %tr
      %th Name
      %th{:colspan => 2} Infos

    - @layers.each do |layer|
      = render :partial => "layer_row", :locals => {:layer => layer }
