#map
= content_for :javascripts do
  = javascript_include_tag "openLayersEssentials"
  :javascript
    $(document).ready(function(){
      $.get("/gc/#{@wmc}",
            function(data){
              try {
                map = format.read(data, {map: mapOptions});
                console.log(map);
                map.removeControl(map.controls[0]);
                map.removeControl(map.controls[0]);
                map.removeControl(map.controls[0]);
                console.log(map);
              } catch(e) {
                alert(e);
              }
            });
    });
