@import "active_admin/mixins"
a, div
  outline: none
  &:link, &:visited, &:hover, &:active, &:focus
    outline: none
    outline-style: none
    outline-color: none
    outline-width: 0px
    

a:hover
  text-decoration: none

a:active
  top: 1px
  position: relative

.subhead
  margin: 40px 0px 15px 0px
  background-color: #767D80
  .inner
    background: transparent image-url("grid_18px.png") top center
    -webkit-box-shadow: inset 0 20px 30px rgba(0,0,0,.3)
    -moz-box-shadow: inset 0 20px 30px rgba(0,0,0,.3)
    padding: 26px 0 18px
    .container, .container-fluid
      h1
        font-size: 40px
        color: white
        text-shadow: 0 1px 2px rgba(0, 0, 0, .5)
.center
  margin: auto

form.signin
  .remember_me
    label
      line-height: 28px
    input[type=checkbox]
      float: left
      margin: 0px 10px 0px 0px
      height: 28px


div.tbar
  clear: both
  height: 40px
  width: 120px
  ul
    margin: 0
    background-color: #bfbfbf
    li
      background-color: #bfbfbf
      height: 32px
      width: 32px
      margin: 0
      padding: 4px
      display: inline
      float: left
      &.first
        border-radius: 4px 0 0 4px
      &.last
        border-radius: 0 4px 4px 0
      a
        background: #bfbfbf image-url("sprite-icons-32px.gif") top center
        display: block
        height: 32px
        width: 32px
        padding: 0 2px 0 0
        text-indent: -9999px
        outline: none

        &.zoom
          background: #bfbfbf image-url("sprite-icons-32px.gif") 0px 416px

.fg-toolbar
  margin: 0
  margin-top: 0
  padding: 0.3em
  padding: 0
  overflow: hidden

  .fg-buttonset
    //margin-right: 1.5em
    //padding-left: 1px
    padding: 2px
    overflow: hidden
    height: 30px
    .selectable
      @include gradient(#FFFFFF,#D9D9D9)
      &.control_selected, &:hover
        border: gray 1px solid
        @include gradient(#D9D9D9, #FFFFFF)
.fg-toolbar .fg-button
  font-size: 1em

.fg-toolbar .pipe
  float: left
  margin: 3px
  color: #1C94C4

.fg-buttonset
  line-height: 12px
  .ui-icon-with-text
    float: left

.fg-buttonset .fg-button
  float: right

.fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button
  margin-right: -1px

.fg-buttonset input
  float: right
  margin: 0 5px

a.fg-button
  float: left

.fg-button-icon-solo
  display: block
  text-indent: -9999px
  width: 8px

.fg-button
  cursor: pointer
  margin: 0 4px 0 0
  outline: 0 none
  padding: 5px
  position: relative
  text-align: center
  text-decoration: none !important

  .ui-icon
    left: 50%
    margin-left: -8px
    margin-top: -8px
    position: absolute
    top: 50%

.ui-icon-with-text
  padding: 3px
  color: #1C94C4
  background: #F6F6F6 image-url("ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x
  border: 1px solid #CCC
  margin: 0px 
  display: block
  float: left
  line-height: 16px
  font-weight: normal
  .ui-icon
    float: left
  span
    font-size: 12px
    color: #1C94C4
.ui-widget-header 
  a.ui-icon-with-text
    margin-left: 5px
    &.first
      margin-left: 0
    

.grippie 
  background: #EEEEEE image-url("grippie.png") no-repeat scroll center 2px
  border-color: #DDDDDD
  border-style: solid
  border-width: 0pt 1px 1px
  cursor: s-resize
  height: 9px
  overflow: hidden

.resizable-textarea textarea
  display: block
  margin-bottom: 0pt
  height: 120px

#map
  position: relative
  overflow: hidden
  margin-bottom: 0


.close
  opacity: 0.2

.inputs
  position: relative

#layers_list_btn
  float: right

.row-actions
  visibility: hidden

tr
  &:hover
    .row-actions
      visibility: visible

table
  &.listing
    margin: 0px 10px
  
#progress
  display: none
  padding: 3px

#wait
  display: none
  position: fixed
  opacity: 0.5
  z-index: 500
.hidden
  display: none
.error-message

.alert .ui-dialog-titlebar
  display: none

#realprint_btn
  margin: 40px 10px
  float: right

.template
  display: none

.legende-node
  margin: 2px
  border-bottom: 1px solid #E3E3E3
  padding: 3px
  &:last-child
    border: none

.node
  float: left
  width: 180px
  margin-left: 5px

.node-controls
  width: 100% 
  height: 30px

.node-controls-buttons
  float: left
  width: 115px
  height: 30px

.node-infos
  width: 100%
  padding: 0 5px

.selected-node
  padding: 5px 0
  border-bottom: 1px #DDD solid
  .grippy
    display: inline-block
    background: image-url('grippy.png') repeat-y right
    height: 48px
    width: 10px
    vertical-align: top
    cursor: image-url("openhand.cur"), pointer 

#selected .ui-icon-with-text
  margin: 3px 3px 0 0
  display: inline-block 
  padding: 1px

#selected input
  display: inline-block 

#selected p
  display: inline-block 
  width: 180px
  font-size: 10px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  &.credits
    padding: 0 5px
    font-style: italic

#tag_cloud
  width: 49%
  text-align: center
  float: left
  margin: 15px 1% 1% 0
  h3
    font-size: 1.5em

.tg1
  font-size: 1em
.tg2
  font-size: 1.1em
.tg3
  font-size: 1.2em
.tg4
  font-size: 1.3em
.tg5
  font-size: 1.4em
.tg6
  font-size: 1.5em
.tg7
  font-size: 1.6em
.tg8
  font-size: 1.7em

#save_form
  display: none
  label
    width: 50px
    margin-right: 15px
#load_form
  display: none
  label
    width: 60px
    margin-right: 15px

.qq-upload-drop-area
  display: block
  border: 1px solid #AED0EA
  background: #DEEDF7 
  padding: 5px
  margin-top: 15px

.qq-upload-list
  display: none

#dialog-confirm
  display: none
#meta_dialog
  padding: 0
  iframe
    height: 100%
    width: 100%
    border: none 0px
#header
  ul.submenu
    padding: 5px
    border: 1px solid #CCCCCC
    border-top: none
    @include gradient(#FFFFFF,#D9D9D9)
    top: 31px
    left: 0px
    margin-top: 0
    z-index: 2000
    position: absolute
    &.open
      display: block
    li
      display: block
      text-align: left
      background: none
      padding: 5px 10px
      &.divider
        background-color: #CCC
        border-color: #FFFFFF
        margin: 0
        padding: 0
        height: 1px
#wmc
  display: none
.active
  background: #FFFFFF
#map
  &.with_group
    margin-left: 180px !important
  img
    max-width: none
#geo-group
  overflow: hidden
  width: 190px
  padding: 5px
  min-height: 1px
  position: absolute
  top: 50px
  bottom: 0px
  overflow-x: hidden
  overflow-y: auto
  ::-webkit-scrollbar 
    width: 20px
  h3
    text-align: center
  .geo-img
    height: 100px
    width: 160px
    overflow: hidden
    img
      width: 100%
  .geo-context
    position: relative
    width: 160px
    margin-left: 0
    border: 5px solid transparent
      display: none
    &.active, &:hover
      border-color: #EBB113

    .geo-name
      position: absolute
      text-align: center
      color: white
      background-color: rgba(3,2,0, 0.7)
      width: 100%
      bottom: 0
      .text
        padding: 2px 5px
