#container
  padding: 0px 10px
a
  outline: 0px
  &:link, &:visited, &:hover, &:active
    outline-style: none

a:hover
  text-decoration: none

a:active
  top: 1px
  position: relative

.subhead
  margin: 40px 0px 15px 0px
  background-color: #767D80
  .inner
    background: transparent url(grid-18px.png) top center
    -webkit-box-shadow: inset 0 20px 30px rgba(0,0,0,.3)
    -moz-box-shadow: inset 0 20px 30px rgba(0,0,0,.3)
    padding: 26px 0 18px
    .container, .container-fluid
      h1
        font-size: 40px
        color: white
        text-shadow: 0 1px 2px rgba(0, 0, 0, .5)
.center
  margin: auto

form.signin
  .remember_me
    label
      line-height: 28px
    input[type=checkbox]
      float: left
      margin: 0px 10px 0px 0px
      height: 28px


div.tbar
  clear: both
  height: 40px
  width: 120px
  ul
    margin: 0
    background-color: #bfbfbf
    li
      background-color: #bfbfbf
      height: 32px
      width: 32px
      margin: 0
      padding: 4px
      display: inline
      float: left
      &.first
        border-radius: 4px 0 0 4px
      &.last
        border-radius: 0 4px 4px 0
      a
        background: #bfbfbf url(sprite-icons-32px.gif) top center
        display: block
        height: 32px
        width: 32px
        padding: 0 2px 0 0
        text-indent: -9999px
        outline: none

        &.zoom
          background: #bfbfbf url(sprite-icons-32px.gif) 0px 416px

.fg-toolbar
  margin: 0
  margin-bottom: 10px
  margin-top: -32px
  padding: 0.3em
  padding: 0

  .fg-buttonset
    //margin-right: 1.5em
    //padding-left: 1px
    padding: 2px

.fg-toolbar .fg-button
  font-size: 1em

.fg-buttonset
  line-height: 12px

.fg-buttonset .fg-button
  float: right

.fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button
  margin-right: -1px

a.fg-button
  float: left

.fg-button-icon-solo
  display: block
  text-indent: -9999px
  width: 8px

.fg-button
  cursor: pointer
  margin: 0 4px 0 0
  outline: 0 none
  padding: 5px
  position: relative
  text-align: center
  text-decoration: none !important

  .ui-icon
    left: 50%
    margin-left: -8px
    margin-top: -8px
    position: absolute
    top: 50%

.ui-icon-with-text
  padding: 5px
  color: #1C94C4
  background: #F6F6F6 url(ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x
  border: 1px solid #CCC
  margin: 0px 
  display: block
  float: left
  line-height: 16px
  font-weight: normal
  .ui-icon
    background-image: url(blue_icons.png)
    float: left
  span
    font-size: 12px
    color: #1C94C4
.ui-widget-header 
  a.ui-icon-with-text
    margin-right: 5px
    .ui-icon
      background-image: url(blue_icons.png)
    

.grippie 
  background: #EEEEEE url(grippie.png) no-repeat scroll center 2px
  border-color: #DDDDDD
  border-style: solid
  border-width: 0pt 1px 1px
  cursor: s-resize
  height: 9px
  overflow: hidden

.resizable-textarea textarea
  display: block
  margin-bottom: 0pt
  height: 120px

#map
  position: relative
  overflow: hidden
  margin-bottom: 0


.close
  opacity: 0.2

.inputs
  position: relative

.tabs > li 
  width: 150px
  &> a
    line-height: 16px
    font-size: 12px

#layers_list_btn
  float: right

.row-actions
  visibility: hidden

tr
  &:hover
    .row-actions
      visibility: visible


