//= require gipbe/reset

// Style global
body
  font-family: 'Arial', 'Helvetica', sans-serif
  margin: 0
  padding: 0
  color: black
  font-size: 69%
  background: image-url("gipbe/bg_geocms-body.jpg") repeat-x #fff


.clear
  clear: both
  line-height: 0
  margin: 0
  padding: 0
// CLEARFIX

.clearfix
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
  display: inline-block

html[xmlns] .clearfix
  display: block

* html .clearfix
  height: 1%

// END CLEARFIX


#global
  overflow: hidden
  width: 98%
  margin: 0 auto 2%
  -moz-box-shadow: 0 0 10px #888
  -webkit-box-shadow: 0 0 10px #888
  box-shadow: 0 0 10px #888
  background: #FFFFFF

.breaker
  clear: both
  line-height: 1px

a
  text-decoration: none
  color: #000
  &:hover
    text-decoration: underline

input 
  border: 1px solid #ccc
  color: #666
  margin: 0
  padding: 2px

select, input, textarea, button
  font-size: 99% 
  font-family: 'Arial', 'Helvetica', sans-serif

ul, ul li
  list-style: none    

li
  margin: 0 0 0.3em 0
  padding: 0
  line-height: 1.25em


// Style des liens en haut du site
#topLinks
  width: auto
  margin: 0
  color: #fff
  text-align: center
  font-size: 112%
  display: block
  padding: 3px 0
  a
    color: #fff
    text-decoration: none
    &:hover
      text-decoration: underline
  ul
    margin: 0
    padding: 0
    li
      display: inline
      border-left: 1px solid #fff
      padding: 0 2px 0 4px
      &.first
        border-left: 0 none


// Style du Header
#header
  padding-left: 10px
  background: image-url("gipbe/bg_header.jpg") left bottom repeat-x
  position: relative
  height: 123px
  h1
    display: block
    float: left
    font-size: 2em
    margin: 0
    padding: 0.6em 0.6em 0.3em 0.6em
    span
      display: none
  .header-right
    position: absolute
    top: 0
    right: 0
    margin-top: 10px
    height: 105px
    .col-left
      float: left
      position: relative

  // Style de la recherche du header
  .search
    position: absolute
    top: 27px
    right: 115px
    margin-right: 4px
    
    input.search-field
      background: transparent
      border-width: 0 
      margin-right: 26px
      display: block
      width: 100px
      height: 17px
      padding: 4px

    input.submit
      background: image-url("gipbe/input_ok.png") no-repeat right top transparent
      border-width: 0
      color: transparent
      height: 25px
      position: absolute
      top: 0
      right: 0
      width: 25px
      cursor: pointer

    form#search
      padding-left: 1px
      background: image-url("gipbe/input_ok.png") no-repeat left top transparent
      position: relative
      margin: 2px 105px 0 0

    .links
      position: absolute
      top: 0
      right: 0
      li
        margin: 0
        a
          text-decoration: underline
          color: #666

  .functions
    position: absolute
    top: 0
    right: 115px
    width: 160px
    li
      display: inline
    a
      display: block
      float: left
      margin-right: 3px

.membres
  position: absolute
  padding: 0 10px 0 25px
  top: 0
  right: 0

// Pop up pour lien faire un lien vers cette page
div#social-networks, div#make-link
  position: absolute
  top: 24px
  right: 0
  width: 300px
  display: none
  z-index: 100
  p.title
    color: #fff
    font-size: 120%
    padding: 3px 0 3px 6px
    font-weight: bold

div#make-link-content
  background-color: #fff
  margin: 1px
  padding: 8px 10px 4px 10px
  textarea
    width: 100%
    overflow: hidden
    height: 40px
  p
    margin-top: 4px
    color: #000
    font-size: 110% !important

.menu-header
  text-align: center
  padding-bottom: 10px
  li
    background: image-url("gipbe/separateur_menu_top.jpg") no-repeat scroll left center transparent
    position: relative
    white-space: nowrap
    clear: none
    display: inline
    text-align: center
    padding: 5px 10px
    &.first
      background-image: none
      padding: 5px 10px 5px 0
    a
      font-size: 138%
      color: #666


// STYLE DU MENU EN DESSOUS DU HEADER
.menuHeaderBottom
  background-color: #f1f1f1
  min-height: 19px
  ul
    padding: 0 8px
    li
      display: inline
      float: left
      margin: 0
      padding: 0 8px 0 0
      white-space: nowrap
      line-height: 19px
      span
        display: block
        background-color: #39f
        font-size: 15px
        width: 8px
        height: 8px
        margin-top: 8px
        float: left
      a
        float: left
        text-transform: lowercase
        color: #666
        font-size: 138%
        white-space: nowrap
        padding: 2px 5px
      &:hover
        span
          background-color: #0000a0




// Style du contenu

#content
  overflow: hidden
  background: #fff

//table
  thead
    th
      background-color: #39F
      color: #fff
      padding: 5px 10px
      font-size: 1.4em
      font-weight: bold
      &.title
        width: 250px
  td
    border-bottom: 1px solid #ccc
    padding: 5px 10px
    vertical-align: top
  .name
    a
      font-size: 1.4em
      font-weight: bold




// footer
#footerContent
  position: relative
  height: 134px
  background: image-url("gipbe/bg_footer.jpg") repeat-x left bottom
  text-align: center

#footer
  .logo
    position: absolute
    bottom: 18px
    left: 23px
    z-index: 1

  .footerMenuTop
    position: relative
    top: 36px
    z-index: 10

  ul
    li
      display: inline
      color: #666
      font-size: 110%
      border-left: 1px solid #666
      a
        font-size: 110%
        color: #666
        padding: 0 3px 3px 4px
      &.first
        border-left: 0 none
        

  .footerMenuBottom
    position: relative
    top: 36px
    z-index: 10

  .credits
    position: absolute
    bottom: 18px
    right: 23px
    text-align: right
    font-size: 90%
    color: #666
    width: 630px
    .object-right
      margin: 3px
      float: right
    p
      line-height: 18px


// STYLE POUR LE MENU DE DROITE ET LEGENDE

.fg-toolbar
  height: 30px
#map_container
  margin-right: 220px
#tabs
  background: white

#category_chooser 
  z-index: 3000
  
  .tab-content
    overflow-y: scroll
    overflow-x: hidden

    padding: 5px 0
  padding: 0px

  #available
    padding: 0 10px
  h2
    background: none #0080cc
    line-height: 20px
    margin-bottom: 10px
    color: #fff
    padding: 0 15px
  h3
    -moz-border-radius: 0
    -webkit-border-radius: 0
    -khtml-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    background: none 
    color: #000
    border: 0 none
    margin: 0 0 6px -11px
    &:hover, &.selected
      background: url(gipbe/arrow-right-menu.jpg) no-repeat scroll 0 0 #0080cc
      color: #fff

    .border-container
      height: 23px
    a
      color: #000
      display: block
      height: 18px
      line-height: 18px
      padding: 0 0 0 18px
      &:hover 
        background: transparent
        text-decoration: none
        color: #fff
    .selected
      background: url(gipbe/arrow-right-menu.jpg) no-repeat scroll 0 0 #0080cc

  .right-menu
    padding-bottom: 10px
    .children
      h4
        -moz-border-radius: 0
        -webkit-border-radius: 0
        -o-border-radius: 0
        -khtml-border-radius: 0
        border-radius: 0
        background: none transparent
        border: 0 none
        line-height: 1.1em
        height: 15px
        a
          font-size: 0.8em
          padding: 0 0 0 1.8em
          &:hover
            text-decoration: underline

  .category_description
    -moz-border-radius: 0
    -webkit-border-radius: 0
    -khtml-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    border: 1px solid #999
    background: none #fff
    overflow: auto

  .ui-widget-header
    border: 0 none
    background: none #0080cc
    position: relative
    .ui-icon
      cursor: pointer
      position: absolute
      top: 5px
      right: 10px
    .title-header
      padding: 5px
      color: #fff

  .ui-icon-circle-close, .ui-icon-triangle-1-e,
  .ui-icon-triangle-1-w
    display: none
  .pills
    margin-bottom: 13px
    a
      padding: 0 5px
      line-height: 18px
      font-size: 11px

#search_container
  margin-top: -2px

.search_form
  h3
    font-size: 2em
    margin-bottom: 20px
  input[type=hidden]
    display: none
  input[type=text]
    height: 30px
    font-size: 15px
    line-height: 30px
    padding: 0
    padding-left: 25px
    background: url('http://www.data.gouv.fr/extension/etalab_socle/design/dgf/images/sprite.png') no-repeat 5px -162px
    -webkit-border-radius: 3px 0px 0px 3px
    -moz-border-radius: 3px 0px 0px 3px 
    -ms-border-radius: 3px 0px 0px 3px
    -o-border-radius: 3px 0px 0px 3px
    border-radius: 3px 0px 0px 3px

  input[type=submit]
    background-color: #58585A
    margin: 0 0 0 -3px
    padding: 0 5px
    border: 0
    height: 32px
    font-size: 1.3em
    text-transform: uppercase
    color: white
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    -ms-border-radius: 0px
    -o-border-radius: 0px
    border-radius: 0px

  width: 49%
  margin: 25px 1% 1% 0
  float: left
  label
    line-height: 34px
    font-size: 15px
    width: 350px
    position: absolute
    text-align: left
    padding: 0
    padding-left: 25px
    color: #666
    abbr
      display: none
  .input
    margin-left: 0
.twipsy
  z-index: 9999

.layer-container
  border-bottom: 1px solid #ccc
  margin: 0 0 15px
  padding: 0 0 15px
  width: 100%
  .left-part, .right-part
    float: left
    width: 48%
    margin: 0 2% 0 0
  li
    margin: 0
    width: 47%
    float: left
  .well
    padding: 1%
    margin-bottom: 7px
    &.even
      float: right
  .content
    margin: 0 0 0 170px
  .image
    width: 150px
    height: 100px
    background: #ccc
    border: 1px solid #666
    float: left
    margin: 0 10px 10px
  .title
    a
      color: #39F
      text-transform: uppercase
      font-weight: bold
    
.no_visualisor
  padding: 0 1%

.btn
  padding: 2px 14px 4px

// STYLE POUR LES PAGES CMS

.cms
  margin: 0 auto
  padding: 0 20px
  h1
    color: #39f
    font-size: 180%
    font-weight: normal
    margin: 2% 0
  
  h2
    color: #000
    font-size: 160%
    font-weight: bold

  h5
    color: #000
    font-size: 1.1em
    font-weight: bold

  p
    font-size: 110%
    line-height: 16px

  a
    color: #39f

  ul, ol
    li
      color: #000

#removeFilters
  display: none

.paginate-container
  width: 100%

#contact_form
  h2
    color: #39F
    font-size: 24px

  input, textarea
    line-height: 24px
    font-size: 18px
    height: 24px
    padding: 5px
  label
    font-size: 14px
    line-height: 24px
  textarea
    height: 200px
  abbr
    float: right
