body
  background: none

#global
  width: 900px
  height: 1200px
  -webkit-box-shadow: none
  box-shadow: none

#map
  height: 805px !important

#footerContent
  height: auto
  background: none

#footer .logo
  float: left
  position: initial !important

.credits
  position: initial !important
  float: right

.legende-node
  float: left
  width: 218px
  height: 100px
  margin: 0
  padding: 0
  border: none

#credits
  clear: both
  text-align: left
