body
  background: none

#global
  width: 940px
  height: 1200px
  -webkit-box-shadow: none
  box-shadow: none

#map
  height: 945px !important

#footerContent
  height: auto
  background: none

#footer .logo
  float: left
  position: initial !important

.credits
  position: initial !important
  float: right
