.ui-corner-all
  border-radius: 0px
  -moz-border-radius: 0px
  -webkit-border-radius: 0px
  
.olControlPanZoomBar
  right: 0

.olControlLayerSwitcher
  right: 0
  .maximizeDiv, .minimizeDiv
    right: 0
  .minimizeDiv
    top: 10px
  .layersDiv
    background: darkBlue
    color: white
    padding: 10px

.olControlPanZoomBar
  right: 0

#ruler_measure
  .ui-icon
    background-image: image-url("ruler.png")

#square_measure 
  .ui-icon
    background-image: image-url("ruler_square.png")

#hand_control
  .ui-icon
    background: image-url("icon_pan.png") no-repeat center center

#output_measure 
  line-height: 16px
  padding: 5px
  float: left
