.ui-corner-all
  border-radius: 0px
  -moz-border-radius: 0px
  -webkit-border-radius: 0px
  
.olControlPanZoomBar
  right: 0

.olControlLayerSwitcher
  right: 0
  .maximizeDiv, .minimizeDiv
    right: 0
  .minimizeDiv
    top: 10px
  .layersDiv
    background: darkBlue
    color: white
    padding: 10px

.olControlPanZoomBar
  right: 0

#zoomin
  .ui-icon
    background-image: image-url("zoomin.png")
#ruler_measure
  .ui-icon
    background-image: image-url("ruler.png")

#square_measure 
  .ui-icon
    background-image: image-url("ruler_square.png")

#hand_control
  .ui-icon
    background: image-url("icon_pan.png") no-repeat center center

#load_btn 
  .ui-icon
    background-image: image-url("loadup.png")

#print_btn
  .ui-icon
    background-image: image-url("print.png")

#mapfishapp_btn
  .ui-icon
    background-image: image-url("geobretagne.png")

#help_btn
  .ui-icon
    background-image: image-url("help.png")

#save_btn
  .ui-icon
    background-image: image-url("save.png")

#position_btn
  .ui-icon
    background-image: image-url("bretagne.png")

.btn-check
  .ui-icon
    background-image: image-url("checkbox.png")
    height: 16px
    background-position: 0 -16px
  &.checked
    .ui-icon
      background-position: 0 0
  
.category_layer_container
  .btn-check
    float: right
    margin: 3px
    .ui-icon
      background-position: 0 -16px
  &.added_layer
    .btn-check
      .ui-icon
        background-position: 0 0 

.infos
  line-height: 16px
  padding: 5px
  float: left

#coords
  position: absolute
  right: 0px
  bottom: 0px
  z-index: 1004
  background: image-url("dock-bg.png") repeat-x
  border: #999 solid
  padding: 4px
  width: 118px
  height: 18px
  border-width: 1px 0 0 1px

.olMap
  cursor: image-url("openhand.cur"), move

.ui-slider-horizontal .ui-slider-handle
  outline: none

.full_screen
  position: fixed
  z-index: 9999
  width: 100%
  height: 100%
  top: 0
  left: 0

