#legende
  padding: 0 10px
  p
    font-size: 80%

.legende_node
  float: left
  font-size: 10pt
  border-right: 1px #E3E3E3 solid
  padding: 10px
  height: 60px
  margin: 5px 0

#map
  border-right: 1px solid #f1f1f1
  
.border-container
  height: 30px
  clear: both

  .border
    border-bottom: 1px solid #39f
    height: 16px
    margin: 0 10px 0 0

    h2, a
      background-color: #fff
      float: left
      color: #000
      line-height: 26px
      padding: 0 10px
      margin: 0
