.menu-header
  %ul.clearfix
    %li.first
      = link_to 'Visualiseur', root_path
    %li
      = link_to 'Projets', geo_contexts_path
    %li
      = link_to 'Catalogues', layers_path
    %li
      = link_to 'Ressources', '#'
  %br.breaker
